/__build/
**/build*__/
.cproject
.project
.settings/
.pydevproject
/private/
CMakeSettings.json
out/
.vs/
doc/html/
doc/qbk/reference.qbk
.vscode/
compile_commands.json
.cache/
__build*__/
.env
venv-*/
*.pyc
__pycache__/
.pytest_cache/
server/build/
server/cscope*
.clang-format
.vscode-ctags
server/tools/Log/*.log
server/tools/rpc/build
.github/workflows
tools/rpc/build
tools/HTTP_Proxy/build
tools/rpc/test/build/